/* styles.css */

/* Keyframes for fade-in and slide-up animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Default state of sections (hidden) */
section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Animation class to apply when the section is in view */
section.animate {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInUp 1s ease-out;
}

/* Loading Screen Styles */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }
  .loader::before {
    border-color: #f03355 #0000;
    animation: inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
  }
  .loader::after {
    margin: 8px;
  }
  @keyframes l16 { 
    100%{transform: rotate(1turn)}
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Content Styles */
.content {
    display: none; /* Hide content initially */
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Initially hidden */
  width: 50px;
  height: 50px;
  background-color: #004d00; /* Background color */
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000; /* Ensure it's on top of other elements */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.back-to-top:hover {
  background-color: #008000; /* Darken on hover */
}
